table { 
	border-collapse: collapse; 
	margin-top: 20px; 
}

td { 
	border: 1px solid black; 
	padding: 15px; 
	cursor: pointer; 
	text-align: center; 
}

td:hover { 
	background-color: #f0f0f0; 
}

#frase-composta { 
	font-weight: bold; 
	font-size: 1.2em; 
	margin-top: 20px; 
	color: #333; 
}
